/*=======Підключення шрифтів=======*/
@import url("fonts.css");

/*=======Скидання стилів=======*/
@import url("reset.css");



.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	/* прижимаем футер книзу */
	flex-direction: column;
	/* прижимаем футер книзу */
}

.wrapper > main {
	flex-grow: 1;
	/* прижимаем футер книзу */
}

/* для усіх "__container" однаково */
[class*="__container"] {
    max-width: 1250px; /* получилось */
    margin: 0 auto; /* получилось */
    padding: 0px 15px; /* получилось */
	border: 1px solid rgb(195, 0, 255);
}

/* ---header---- */
/* .header {} */



/* ---main---- */
/* .main {} */


/* -------section1----- */

.section1 {
	padding: 50px 0px;
}

h2::before{
	width: 12px;
	height: 12px;
	flex: 12px; /* щоб текст ПРИ ЗБІЛЬШЕННІ не заходив під зелений квадратик */
	background-color: #40DDB6;
	content: "";
	display: inline-block;
	margin-right: 6px;
}
h2 {
	color: #37393F;
	font-family: 'Inter';
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 16px;
}

h3 {
	color: #37393F;
	text-align: center;
	font-family: 'Poppins';
	font-size: 40px;
	font-weight: 700;
	line-height: 121%; /* 48.4px */
	margin-bottom: 40px;
}


.form-section1 {
}

.form-section1__body { /* выстроили в ряд все 5 колонok */
	display: flex;
	flex-wrap: wrap;
}
.form-section1__item {	
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 50%;
/* 	padding: 0 17.5px; */
	min-width: 290px;
    line-height: 1.3;
}


.form-section1__item, 
input {
	padding: 21px 40px 20px;
	border: 1px solid #DDD;
	background-color: #F8F8F8;
	width: 100%;
	color: #37393F;

	font-family: 'Inter';
	font-size: 18px;
}

.form-section1__input--textarea {
}
.form-section1__button {
}