/*=======Підключення шрифтів=======*/
@import url("fonts.css");

/*=======Скидання стилів=======*/
@import url("reset.css");



.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	/* прижимаем футер книзу */
	flex-direction: column;
	/* прижимаем футер книзу */
}

.wrapper > main {
	flex-grow: 1;
	/* прижимаем футер книзу */
}

/* для усіх "__container" однаково */
[class*="__container"] {
    max-width: 1250px; /* получилось */
    margin: 0 auto; /* получилось */
    padding: 0px 15px; /* получилось */
	border: 1px solid rgb(195, 0, 255);
}

/* ---header---- */
/* .header {} */



/* ---main---- */
/* .main {} */


/* -------section1----- */
.section1 {
	padding: 80px 0px;
}

.section1__container h2 {
	color: #37393F;
	justify-content: center; /* поставили по центру h2 */
	font-family: 'Inter';
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 16px;
	
	display: flex; 		/* зелений квадратик */
	gap: 6px; 			/* зелений квадратик */
}
.section1__container h2:before { /* зелений квадратик */
    content: "";
	display: inline-block;
    flex: 0 0 12px;
    width: 12px;
    height: 12px;
    background-color: #40ddb6;
    transform: translateY(3px);
}

.section1__container h3 {
	color: #37393F;
	text-align: center;
	font-family: 'Poppins';
	font-size: 40px;
	font-weight: 700;
	line-height: 121%; /* 48.4px */
	margin-bottom: 40px;
}

/* ---форми--- */
.form-section1__body {
	display: flex; 
	flex-wrap: wrap;
}

/* ---input-- */
.form-section1__item {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 50%;
	padding: 0px 17.5px;
	min-width: 290px;
	column-gap: 35px;
	row-gap: 28px;
	border: 1px solid #DDD;
	background-color: #F8F8F8;
	width: 100%;	
	padding: 21px 40px 20px;
}
input{
	color: #37393F;
	font-family: 'Inter';
	font-size: 18px;
}
.form-section1__item, input {

}

/* ---textarea-- */
.form-section1__input--textarea {
}
.form-section1__button {
}
/* -------section1----- */





/* -------------footer------------- */
/* .footer {} */